html {
    background-image: linear-gradient(160deg, rgba(0,0,0,.3), rgba(255,50,230,.3) 70.71%);
}

body {
    height: 100vh;
}
.header {
    font-style: bold;
    font-family:'Montserrat', sans-serif;
}

.header button {
    float: right;
    padding: 5px;
    border-radius: 2px;
    width: 150px;
    color: red;
    border-color: red;
    font-style: oblique;
}

.header button:hover {
    color: white;
    background-color: red;
}


h2 {
    font-family:'Montserrat', sans-serif;
}

h3 {
    font-family: monospace;
    font-size: 14px;

}

.section {
    width: 80%;
}
.section button {
    color: black;
    transition-duration: 0.4s;
    border-color: navy;
    font-size: 14px;
    padding: 5px;
    border: 1px solid;
    width: 80px;
    float: right;
    opacity: 0.6;
    cursor: not-allowed;
}

#current button {
    color: black;
    transition-duration: 0.4s;
    border-color: navy;
    font-size: 16px;
    padding: 5px;
    border: 1.5px solid;
    width: 90px;
    float: right;
    opacity: 1;
    cursor: default;
}

#current button:hover {
    background-color: lightblue;
    color: black;
    
}

.section input {
    overflow-x: auto;
    width: 255px
}

.section p {
    padding-bottom: 10px;
    font-family: monospace;
}

#current p {
    font-size: 16px;
    font-style: italic;
}

#current h3 {
    font-style: italic;
    font-size: 20px;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7 {
    display: none;
}